@charset "utf-8";

.title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
}

.table {
    max-width: 400px;
    margin: 0 auto;
}

.subtitle {
    vertical-align: middle;
    text-align: end;
}

.submit {
    margin: 2rem auto;
    padding: 5px 20px;
    background-color: #FFF;
    border-radius: 25px;
    border: 1px solid #324B4C;
    width: fit-content;
    transition: .2s all;
    cursor: pointer;
}

.submit:hover {
    background-color: #c0ddde7a;
}

.error {
    text-align: center;
    color: rgb(230, 0, 0);
    font-size: smaller;
}

#buttonEye {
    position: absolute;
    top: auto;
    width: fit-content;
    right: 0;
    left: 15rem;
    margin: .4em auto;
    cursor: pointer;
}

.info {
    margin-top: 1rem;
    text-align: center;
}

.info a {
    text-underline-offset: 2px;
}

.container-fluid {
    margin-top: 4rem;
}

.back {
    display: flex;
    justify-content: center;
    text-underline-offset: 2px;
}

.label {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

#check {
    margin-right: .5rem;
}